/* ==========================================================================
	Type Base
============================================================================= */

@mixin h1() {
	@include garamond(400);

	color: inherit;
	font-size: 36px;
	line-height: (38 / 36);

	@media #{$min_md} {
		font-size: 48px;
		line-height: (50 / 48);
	}

	@media #{$min_lg} {
		font-size: 58px;
		line-height: (60 / 58);
		// font-size: 64px;
		// line-height: (66 / 64);
	}
}

@mixin h2() {
	@include garamond(400);

	color: inherit;
	font-size: 32px;
	line-height: (42 / 32);

	@media #{$min_lg} {
		font-size: 48px;
		line-height: (58 / 48);
	}
}

@mixin h3() {
	@include garamond(400);

	color: inherit;
	font-size: 20px;
	line-height: (26 / 20);

	@media #{$min_lg} {
		font-size: 32px;
		line-height: (42 / 32);
	}
}

@mixin h4() {
	@include garamond(400);

	color: inherit;
	font-size: 20px;
	line-height: (26 / 20);

	@media #{$min_lg} {
		font-size: 26px;
		line-height: (32 / 26);
	}
}

@mixin h5() {
	@include univers(700);

	color: inherit;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: (16 / 11);
	text-transform: uppercase;

	@media #{$min_md} {
		font-size: 16px;
		letter-spacing: 1.5px;
		line-height: (22 / 16);
	}
}

@mixin h6() {
	@include univers(700);

	color: inherit;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: (15 / 11);
	text-transform: uppercase;

	@media #{$min_md} {
		letter-spacing: 1.3px;
	}
}

@mixin intro_text() {
	@include garamond(400);

	color: inherit;
	font-size: 20px;
	line-height: (26 / 20);

	@media #{$min_lg} {
		font-size: 32px;
		line-height: (42 / 32);
	}
}

@mixin body_text() {
	@include univers(300);

	font-size: 15px;
	line-height: (23 / 15);

	@media #{$min_lg} {
		font-size: 18px;
		line-height: (28 / 18);
	}
}

@mixin label_text() {}

@mixin caption_text() {
	font-size: 14px;
	line-height: (22 / 14);
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	.touch &[href^=tel] {
		color: inherit;
	}
}

strong {
	font-weight: 700;
}


// typography
// =============================================================================

.typography {
	@include body_text;

	color: $black;

	h1, h2, h3, h4, h5, h6 {
		margin: 40px 0 10px;
	}

	h1 {
		@include h1;
	}

	h2 {
		@include h2;
	}

	h3 {
		@include h3;
	}

	h4 {
		@include h4;
	}

	h5 {
		@include h5;
	}

	h6 {
		@include h6;
	}

	a {
		border-bottom: 1px solid $blue;
		transition:
			border .25s,
			box-shadow .25s,
			color .25s,
			background .25s;
	}

	p {
		margin: 10px 0 20px;
	}

	b,
	strong {
		@include univers(700);
	}

	.intro {
		@include intro_text;

		color: $blue;

		@media #{$min_md} {
			margin-bottom: 35px;
		}
	}
}


// WYSIWYG Images
// =============================================================================

.typography {

	img {
		height: auto;
		max-width: 50%;
	}

	.block_left,
	.block_right,
	.block_center {
		width: auto;

		display: table;
		table-layout: fixed;

		img {
			display: block;
			max-width: 100%;
		}

		figcaption {
			@include caption_text;

			caption-side: bottom;
			display: table-caption;
		}
	}

	.block_left,
	.block_right {
		max-width: 50%;

		@media #{$max_sm} {
			max-width: none;

			float: none;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.block_center {
		text-align: center;

		img {
			margin-right: auto;
			margin-left: auto;
		}
	}
}


// Blockquote
// =============================================================================

.typography {

	blockquote {
		@include garamond(400);

		color: $black;
		font-size: 26px;
		line-height: (36 / 26);
		margin: 20px 0;

		@media #{$min_lg} {
			font-size: 36px;
			line-height: (46 / 36);
		}

		p {
			margin: 0;
		}
	}

	.blockquote {
		@include margined_md;
	}

		.blockquote_mark {
			align-items: center;
	    color: $blue;
	    display: flex;
	    margin-bottom: 23px;
			margin-left: -8px;

	    @media print {
	      display: none;
	    }

	    @media #{$min_md} {
	      margin-bottom: 43px;
	    }

	    &:after {
	      height: 2px;

	      background: $yellow;
	      content: "";
	      flex: auto;
	      margin-left: 25px;
	    }
		}

		.blockquote_content {
			@include garamond(400);

			color: $black;
			font-size: 26px;
			line-height: (36 / 26);
			margin-bottom: 23px;

			@media #{$min_md} {
				margin-bottom: 33px;
			}

			@media #{$min_lg} {
				font-size: 36px;
				line-height: (46 / 36);
			}

			p {
				color: inherit;
				margin: 0;
			}
		}

		.blockquote_cite {
			font-style: normal;

	    &:before {
	      height: 1px;
	      width: 30px;

	      background: rgba($black, .45);
	      content: "";
	      display: inline-block;
	      margin-right: 10px;
	      vertical-align: middle;
	    }
		}

			.blockquote_cite_label {
				@include garamond(700);

	      color: $black;
	      font-size: 15px;
	      letter-spacing: .5px;
	      margin-right: 5px;
	      text-transform: uppercase;
			}

			.blockquote_cite_year {
				@include univers(700);

	      color: $blue;
	      font-size: 15px;
			}
}


// Lists
// =============================================================================

.typography {

	ol,
	ul {
		@include margined_md_bottom;

		list-style: none;

		li {
			margin-bottom: 10px;
		}

		ol,
		ul {
			margin: 20px 0;
		}
	}

	ol {
		counter-reset: li;
		padding-left: 25px;

		> li {

			&:before {
				@include univers(700);

				float: left;

				color: $blue;
				margin: 0 0 0 -25px;
				content: counter(li) ". ";
				counter-increment: li;

				@at-root ol[type="A"] li:before {
					content: counter(li, upper-latin) ". ";
				}

				@at-root ol[type="a"] li:before {
					content: counter(li, lower-latin) ". ";
				}
			}
		}
	}

	ul {
		padding-left: 22px;

		li {

			&:before {
				width: 8px;
				height: 8px;

				background: $yellow;
				border-radius: 50%;
				content: "";
				display: block;
				float: left;
				margin: 10px 0 0 -22px;
			}
		}
	}
}


// Tables
// =============================================================================

.typography {

	table {
		@include margined_md;

		width: 100%;

		border-collapse: collapse;

		tr {

			&:nth-child(odd) {
				background: $mist;
			}
		}

		th,
		td {}

		th {
			@include h6;

			background: $blue;
			color: #fff;
			padding: 18px 20px 17px;
			text-align: left;
		}

		td {
			color: $black;
			padding: 13px 20px 12px;

			&:not(:last-child) {
				border-right: 1px solid rgba($black, .1);
			}
		}
	}
}

// 1. Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

.table_wrapper {
	@include margined;

	min-height: .01%; // 1

	&.table_wrapper_overflow {
		position: relative;

		border: 1px solid #ccc;

		&:after {
			@include gradient_horizontal(rgba(#000, 0), rgba(#000, .1));

			width: 20px;
			height: 100%;

			position: absolute;
			top: 0;
			right: 0;

			content: "";
		}

		.table_wrapper_inner {
			overflow-y: hidden;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}
	}
}
