/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav {
	@include max-row;

	background: #eee;
	display: none;

	@media #{$min_lg} {
		display: block;
	}
}


// Breadcrumb Links
// =============================================================================

.breadcrumb_list {
	overflow-x: auto;
	padding: 17px 30px 16px;
	white-space: nowrap;
}

	.breadcrumb_item {
		display: inline-block;
	}

		.breadcrumb_link,
		.breadcrumb_label {
			@include univers(400);

			color: rgba($black, .6);
			display: inline-block;
			font-size: 15px;
		}

		.breadcrumb_link {
			transition: color .25s;

			&:focus,
			&:active,
			&:hover {
				color: $blue;
			}
		}

		.breadcrumb_label {
			color: $black;
		}

		.breadcrumb_icon {
			color: $blue;
			display: inline-block;
			margin: -4px 4px 0;
			vertical-align: middle;
			transform: scale(.85);
		}
