/* ==========================================================================
	Eventz
============================================================================= */

.eventz {
  @include padded_lg;

  position: relative;

  background: #eee;
  overflow: hidden;
  transform: translateZ(0);

  &:before {

    @media #{$min_sm} {
      height: 100%;
      width: 25%;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;

      background:
        linear-gradient(
          to left,
            #eee,
            rgba(#eee, 0) 100%
        );
      content: "";
      pointer-events: none;
    }
  }

  &:after {

    @media screen and (min-width: 1540px) {
      height: 100%;
      width: 10%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      background:
        linear-gradient(
          to right,
            #eee,
            rgba(#eee, 0) 100%
        );
      content: "";
      pointer-events: none;
    }
  }
}

  .eventz_inner {}

    .eventz_header {
      margin-bottom: 24px;
    }

      .eventz_title {
        @include univers(700);

        color: $black;
        font-size: 11px;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        @media #{$min_md} {
          font-size: 16px;
          letter-spacing: 1.5px;
        }
      }


// Eventz Carousel
// ===================================p==========================================

.event_carousel {

  @media #{$min_xl} {
    max-width: 1080px;
  }

  .fs-carousel-controls {
    position: relative;
    float: left;
    z-index: 2;

    color: $blue;
    display: none;
    margin-right: 20px;

    @media #{$min_md} {
      display: block;
    }
  }

    .fs-carousel-control {
      color: $black;
      transition: background .25s;

      &:focus,
      &:hover {
        background: rgba($blue, .25);
      }
    }

  .fs-carousel-pagination {
    position: absolute;
    top: 100%;
    left: 50%;

    margin-top: 55px;
    transform: translate(-50%, 0);

    @media #{$min_md} {
      display: none;
    }
  }
}

  .event {
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 20px;

    @media #{$min_md} {
      margin-bottom: 40px;
    }

    @media #{$min_xl} {
      padding-right: 60px;
    }
  }

    .event_date {
      border-bottom: 1px solid $yellow;
      display: inline-block;
      margin-bottom: 18px;
      padding-right: 60px;
      padding-bottom: 8px;

      @media #{$min_md} {
        padding-bottom: 3px;
      }
    }

      .event_month {
        @include garamond(700);

        font-size: 12px;
        letter-spacing: .5px;
        text-transform: uppercase;

        @media #{$min_md} {
          font-size: 15px;
        }
      }

      .event_day {
        @include univers(700);

        color: $blue;
        font-size: 15px;

        @media #{$min_md} {
          font-size: 20px;
        }
      }

    .event_title {
      @include garamond(400);

      color: $black;
      font-size: 20px;
      line-height: (28 / 20);
      margin: 0 0 15px;
      transition: color .25s;

      &:focus,
      &:hover {
        color: $blue;
      }
    }

      .event_title_link {
        color: inherit;
      }

    .event_location {
      position: relative;

      margin: 0;
      padding-left: 20px;

      @media print {
        padding-left: 0;
      }
    }

      .event_location_icon {
        position: absolute;
        top: -2px;
        left: 0;

        color: $blue;
      }

      .event_location_label {
        @include univers(300);

        color: #6D6D6D;
        display: block;
        font-size: 13px;

        @media #{$min_md} {
          font-size: 15px;
        }
      }


// Eventz Footer
// =============================================================================

.eventz_footer {}

  .eventz_discovery {
    @include button_inline;
    @include button_color($black, $blue);
  }
