{% extends "_base.twig" %}

{% set pageTitle = "Admissions" %}

{% block layout %}
	{% set layout = "full" %}
{% endblock %}

{% block pageContent %}
<div class="content">
         <div class="wrapper">
            <div class="leftColumn">
               <ul class="nav">

                  <li><a href="/academics/undergraduate/default.aspx">Undergraduate Programs</a></li>
<li><a href="/academics/graduate/default.aspx">Graduate &amp; Professional Programs</a></li>
<li><a title="Adult Undergraduate Programs" href="/academics/schools/eics/continuing_studies/default.aspx">Adult Undergraduate Programs</a></li>
<li><a title="Online Programs at Widener" href="/academics/online_programs.aspx">Online Programs</a></li>
<li><a href="/academics/schools/default.aspx">Schools and Departments</a></li>
<li><a href="/academics/faculty/default.aspx">Faculty and Research</a></li>
<li><a href="/academics/global/default.aspx">Global Engagement</a></li>
<li><a href="/academics/support/default.aspx">Academic Support</a></li>
<li><a href="/academics/calendar.aspx">Academic Calendar</a></li>
<li><a title="Catalogs" href="/academics/catalogs/default.aspx">Catalogs</a></li>
<li><a title="Widener Observatory" href="/academics/observatory/default.aspx">Widener Observatory</a></li>


               </ul>
               <ul id="currnav" style="display: none;">

                  <li><a href="/academics/undergraduate/default.aspx">Undergraduate Programs</a></li>
<li><a href="/academics/graduate/default.aspx">Graduate &amp; Professional Programs</a></li>
<li><a title="Adult Undergraduate Programs" href="/academics/schools/eics/continuing_studies/default.aspx">Adult Undergraduate Programs</a></li>
<li><a title="Online Programs at Widener" href="/academics/online_programs.aspx">Online Programs</a></li>
<li><a href="/academics/schools/default.aspx">Schools and Departments</a></li>
<li><a href="/academics/faculty/default.aspx">Faculty and Research</a></li>
<li><a href="/academics/global/default.aspx">Global Engagement</a></li>
<li><a href="/academics/support/default.aspx">Academic Support</a></li>
<li><a href="/academics/calendar.aspx">Academic Calendar</a></li>
<li><a title="Catalogs" href="/academics/catalogs/default.aspx">Catalogs</a></li>
<li><a title="Widener Observatory" href="/academics/observatory/default.aspx">Widener Observatory</a></li>


               </ul>
               <div id="directory" style="display: none;">/academics/</div>
            </div>
            <div class="contentWide">
               <div class="banner">
   <div class="spif">
      <div class="podWrap">
         <img src="/academics/_images/moneyclubfinal.jpg" alt="students in widener's money club" width="745" height="250">
      </div>
      <div class="podWrap">
         <img src="/academics/_images/aca_classroom_smile2_w.jpg" alt="students in classroom " width="745" height="250">
      </div>
      <div class="podWrap" style="display: block;">
         <img src="/academics/_images/aca_leckrone_students_w.jpg" alt="professor les leckrone with political science students " width="745" height="250">
      </div>
   </div>
</div>

               <div class="contentArea bodyCopy">
                  <div class="breadcrumb">
                     <ul>
                        <li class="first"><a href="/">Home</a></li>
                        <li class="last">Academics</li>
                     </ul>
                  </div>
                  <div class="share-wrapper"><a class="addthis_button share" href="http://www.addthis.com/bookmark.php">Share this page</a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fd1290148518d9b"></script></div>
                  <h1>Academics at Widener</h1>



                  <p><strong><img style="margin: 5px 7px; float: left; box-shadow: #888888 4px 4px 4px;" src="/academics/_images/Academics_thumb.jpg" alt="faculty and student work together" width="125" height="125"></strong></p>

                  <p>When you enroll in an undergraduate or graduate academic program at Widener University,
                     you’re taking the first step toward achieving your career and life goals.
                  </p>

                  <p>College students of all ages love Widener for its academic quality, access to professors,
                     and focus on <a href="/academics/undergraduate/experiential/">experiential learning</a>, <a title="Leadership" href="/about/widener_values/leadership/default.aspx">leadership development,</a> <a href="/academics/support/career_services/">career preparation</a>, and <a href="/civic_engagement/">community service</a>.
                  </p>

                  <p>&nbsp;</p>

                  <h2>Degree Programs at Widener</h2>

                  <p>No matter where you are in your studies, Widener has a program for you. Check out
                     our academic programs to see which one fits you best.
                  </p>

                  <ul>

                     <li><a title="Undergraduate" href="/academics/undergraduate/majors.aspx">Undergraduate Programs</a></li>

                     <li><a title="Graduate and Professional Programs" href="/academics/graduate/">Graduate &amp; Professional Programs</a></li>

                     <li><a title="Adult Undergraduate Programs" href="/academics/schools/eics/continuing_studies/default.aspx">Adult Undergraduate Programs</a></li>

                     <li><a title="Online Programs" href="/academics/online_programs.aspx">Online Programs<br><br></a></li>

                  </ul>

                  <h2>Not Sure Yet What You Want To Study?</h2>

                  <p>Widener academics offerings are distributed across several individual schools and
                     centers of learning. Our academic programs include over 60 undergraduate majors and
                     minors and numerous graduate and professional degrees.
                  </p>

                  <div class="columns">

                     <div class="column">

                        <ul>

                           <li><a href="/academics/schools/business/">School of Business Administration</a></li>

                           <li><a href="/academics/schools/arts_sciences/">College of Arts &amp; Sciences</a></li>

                           <li><a title="Center for Continuing Studies" href="/academics/schools/eics/continuing_studies/default.aspx">Center for Continuing Studies</a></li>

                           <li><a href="/academics/schools/engineering/">School of Engineering</a></li>

                           <li><a title="Center for Education" href="/academics/schools/eics/education/default.aspx">Center for Education</a></li>

                           <li><a title="Center for Hospitality Management" href="/academics/schools/eics/hospitality/default.aspx">Center for Hospitality Management</a></li>

                           <li><a title="Center for Human Sexuality Studies" href="/academics/schools/shsp/hss/default.aspx">Center for Human Sexuality Studies<br><br></a></li>

                        </ul>

                     </div>

                     <div class="column">

                        <ul>

                           <li><a title="Institute for Graduate Clinical Psychology" href="/academics/schools/shsp/psyd/default.aspx">Institute for Graduate Clinical Psychology</a></li>

                           <li><a title="Institute of Physical Therapy Education" href="/academics/schools/shsp/physical_therapy/default.aspx">Institute of Physical Therapy Education</a></li>

                           <li><a title="Delaware Law School" href="http://delawarelaw.widener.edu" target="_blank">Delaware Law School</a></li>

                           <li><a title="Commonwealth Law School" href="http://commonwealthlaw.widener.edu" target="_blank">Commonwealth Law School</a></li>

                           <li><a href="/academics/schools/nursing/">School of Nursing</a></li>

                           <li><a title="Center for Social Work Education" href="/academics/schools/shsp/social_work/default.aspx">Center for Social Work Education<br><br></a></li>

                        </ul>

                     </div>

                  </div>

                  <h3><img style="margin: 5px 7px; float: left; box-shadow: #888888 4px 4px 4px;" title="visit us" src="/academics/_images/Visit_Thumb.jpg" alt="visit us" width="125" height="125"></h3>

                  <h3>&nbsp;</h3>

                  <h3>Come Visit Us!</h3>

                  <p>To learn more about Widener's <strong>undergraduate programs</strong>, <a title="Schedule a Visit" href="/admissions/undergraduate/visit_widener/">schedule a visit</a> or speak with an <a title="Admission Counselor" href="/admissions/undergraduate/contact/">admissions counselor</a>.
                  </p>

                  <p>For Widener's <strong>graduate programs and certificates</strong>, drop in for one of our <a title="Open House Graduate" href="/admissions/graduate/visit_widener/open_house.aspx">open houses</a> or contact us in the Graduate Admissions Office at <a title="Graduate Admissions email" href="mailto:gradprograms@widener.edu">gradprograms@widener.edu</a>.
                  </p>


               </div>
            </div>
         <div class="mobileSecondary leftColumn"><ul id="navigation" class="nav">

                  <li><a href="/academics/undergraduate/default.aspx">Undergraduate Programs</a></li>
<li><a href="/academics/graduate/default.aspx">Graduate &amp; Professional Programs</a></li>
<li><a title="Adult Undergraduate Programs" href="/academics/schools/eics/continuing_studies/default.aspx">Adult Undergraduate Programs</a></li>
<li><a title="Online Programs at Widener" href="/academics/online_programs.aspx">Online Programs</a></li>
<li><a href="/academics/schools/default.aspx">Schools and Departments</a></li>
<li><a href="/academics/faculty/default.aspx">Faculty and Research</a></li>
<li><a href="/academics/global/default.aspx">Global Engagement</a></li>
<li><a href="/academics/support/default.aspx">Academic Support</a></li>
<li><a href="/academics/calendar.aspx">Academic Calendar</a></li>
<li><a title="Catalogs" href="/academics/catalogs/default.aspx">Catalogs</a></li>
<li><a title="Widener Observatory" href="/academics/observatory/default.aspx">Widener Observatory</a></li>


               </ul></div></div>
      </div>
{% endblock %}
