/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {}

	.page {}

		.page_feature {
			max-width: 1400px;

			margin: 0 auto;
		}

		.page_content {

			body:not(.layout_home) & {
				padding-top: 10px;
			}

			.row {

				.layout_featured & {

					@media #{$min_lg} {
						max-width: 910px + ($space * 2);
					}
				}
			}
		}

			.aside_cell {

				@media #{$min_md} {
					width: 40%;

					float: left;
				}

				@media #{$min_lg} {
					width: percentage(4 / 12);
				}

				@media #{$min_xl} {
					width: percentage(3 / 12);
				}
			}

			.subnav_cell {}

			.content_cell {

				@media #{$min_md} {
					width: 60%;

					float: right;

					padding-left: 20px;
				}

				@media #{$min_lg} {
					width: percentage(8 / 12);
				}

				@media #{$min_xl} {
					width: percentage(9 / 12);
				}

				.layout_featured & {
					width: 100%;

					float: none;

					padding-left: 0;
				}
			}

				.main_content {
					@include focus_outline_none;

					.layout_featured & {
						@include padded_bottom;

						@media #{$min_md} {
							padding-bottom: 0;
						}
					}
				}

					.page_header {
						position: relative;

						background: $blue;
					}

						.page_header_background {
							@include cover;

							&:before {
								@include cover;

								z-index: 2;

								background:
									linear-gradient(
										to top,
											rgba(#000, .75),
											rgba(#000, 0) 35%
									);
								content: "";
								pointer-events: none;

								@media print {
									display: none;
								}
							}
						}

						.page_title {
							@include garamond(400);

							position: relative;
							z-index: 2;

							color: #fff;
							font-size: 32px;
							line-height: 1;
							margin: 0;

							@media #{$min_lg} {
								font-size: 40px;
							}

							@media #{$min_xl} {
								font-size: 64px;
							}

							.layout_default & {
								padding: 43% 20px 25px;

								@media print {
									padding: 0;
								}

								@media #{$min_xl} {
									padding: 45% 30px 35px 60px;
								}
							}

							.layout_full & {
								padding: 42% 0 25px;

								@media #{$min_xl} {
									padding-top: 33%;
									padding-bottom: 48px;
								}
							}
						}

					.content_aside {

						@media print {
							display: none;
						}

						&_lg {

							@media #{$min_md} {
								width: 340px;

								float: right;

								margin-left: 30px;
							}

							@media #{$min_lg} {
								width: 500px;
							}

							@media #{$min_xl} {
								width: 540px;

								margin-right: -100px;
							}

							@media screen and (min-width: 1400px) {
								margin-right: -170px;
								margin-left: 60px;
							}
						}
					}

					.in_content_callouts {

						@media print {
							padding: 0;
						}

						@media #{$min_md} {
							padding-right: 0;
							padding-left: 20px;
						}

						@media #{$min_xl} {
							padding-left: 60px;
						}
					}

			.sidebar_cell {
				clear: left;
			}

				.sidebar {

					> *:last-child {
						margin-bottom: 0;
					}
				}

			.full_width_callouts {}
