// Fonts
// =============================================================================

@mixin univers($weight: null) {
	font-family: "LinotypeUniversW01-Ligh_723631", sans-serif;
	font-weight: 400;

	@if $weight == 700 {
		font-family:"LinotypeUniversW01-Bold_723697", sans-serif;
	} @else if $weight == 400 {
		font-family: "LinotypeUniversW01-Regu", sans-serif;
	}
}

@mixin garamond($weight: null) {
	font-family: "Garamond W01", serif;
	font-weight: 400;

  @if $weight == 700 {
		font-family:"Garamond W01 Bold", sans-serif;
	}
}
