<div class="persona persona_{{modifier}}">
  <button class="js-swap persona_switch" data-swap-target=".persona_links">
    <span class="persona_switch_label">Information For</span>
    <span class="persona_switch_icon">{{site.symbol("caret_down")}}</span>
  </button>
  <nav class="persona_links">
    <a class="persona_link" href="#">Students</a>
    <a class="persona_link" href="#">Faculty</a>
    <a class="persona_link" href="#">Parents</a>
  </nav>
</div>
